body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.picture {
  height: 120px;
  width: 100px;
  border-radius: 3px;
  
  
}


.tabela{
  background-color: pink;
  display: table;
  margin: auto;
  margin-top: 20px;
  border-collapse:collapse;
  border-spacing: 10px;
  margin-bottom: 120px;
  padding: 20px;
  

}

tbody:before {
  content:"@";
  display:block;
  line-height:10px;
  text-indent:-99999px;
}

.tabela th{
  background-color: salmon;
  font-size: 1.2em;
  width: 155px;
  padding: 2px;
  color: white;
  
  

}



.btn-delete{
  background-color: salmon;
  color: white;
  padding: 8px;
  border-radius: 4px;
}

.btn-delete:hover{
  background-color: rgb(248, 100, 83);
}

.btn-container{
  
  display: flex;
  width: 50%;
  flex-direction: row;
  margin: auto;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.top-btn{
  background-color: salmon;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
  color: white;
}



.top-btn:hover{
  background-color: rgb(248, 100, 83);
}

